<aside class ="col-md-3">
    <h4>Opciones</h4>
    <div class="list-group">
        <a href="{{ path('mtd_postulante_editar', { 'id': postulante.id }) }}" class="list-group-item">Editar Postulante</a>
        <a href="#" class="list-group-item">Perfil Tecnico</a>
    </div>
</aside>