<aside class ="col-md-3">
    <h4>Opciones</h4>
    <div class="list-group">
        <a href="{{ path('mtd_categorias_proyecto', { 'id': proyectoSeleccionado.id }) }}" class="list-group-item">Categorias</a>
        <a href="#" class="list-group-item">CSS</a>
        <a href="#" class="list-group-item">Cursos</a>
        <a href="#" class="list-group-item">Desarrollo Web</a>
        <a href="#" class="list-group-item">Elemetos Web</a>
        <a href="#" class="list-group-item">Jquery</a>
        <a href="#" class="list-group-item">Recursos y Herramientas</a>
    </div>
</aside>