<aside class ="col-md-3">
    <h4>Opciones</h4>
    <div class="list-group">
        <a href="{{ path('mtd_mostrar_proyecto', { 'id': proyectoSeleccionado.id }) }}" class="list-group-item">Ver Proyecto</a>
        <a href="{{ path('mtd_categorias_proyecto', { 'id': proyectoSeleccionado.id }) }}" class="list-group-item">Categorias</a>
        <a href="#" class="list-group-item">Empleados</a>
    </div>
</aside>