<aside class ="col-md-2">
    <h4>Opciones</h4>
    <div class="list-group">
        <a href="{{ path('mtd_postulante_ver', { 'id': postulante.id }) }}" class="list-group-item">Ver Postulante</a>
        <a href="{{ path('mtd_postulante_editar', { 'id': postulante.id }) }}" class="list-group-item">Editar Postulante</a>
        <a href="{{ path('mtd_perfil_tecnico_ver', { 'id': postulante.id }) }}" class="list-group-item">Perfil Tecnico</a>
        <a href="{{ path('mtd_perfil_tecnico_editar', { 'id': postulante.id }) }}" class="list-group-item">Editar Perfil Tecnico</a>
    </div>
</aside>