<div>
    {%for falta in faltas%}
        {% if falta.aviso == true %}
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="aviso" class="control-label col-md-3">Aviso:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">Si</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="motivos" class="control-label col-md-3">Motivos:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{falta.motivo}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="psgh" class="control-label col-md-3">PSGH:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{falta.asistencia.psgh}}</p>
                    </div>
                </div>
            </form>
    {%else%}
        <form class="form-horizontal">
            <div class="form-group">
                    <label for="aviso" class="control-label col-md-3">Aviso:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">No</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="motivos" class="control-label col-md-3">Motivos:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{falta.motivo}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="falla" class="control-label col-md-3">FALLA:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">{{falta.falla}}</p>
                    </div>
                </div>
            </form>
    {%endif%}
    {%endfor%}
</div>