canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .caja{
        max-width: 250px;
        margin-left: 650px;
    }
    .caja select{
        width: 100%;
        font-size: 16px;
        padding: 5px;
    }
    
    .labelSelect{
        width: 80px;
    }