<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>NUMERO DE HORAS EXTRAS</th>
                <th>$ HORAS EXTRAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sueldo.numeroHorasExtras}}</td>
                <td><strong>{{ sueldo.horasExtras}}</strong></td>
            </tr>
        </tbody>    
    </table>
</div>