<div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="psgh" class="control-label col-md-3">PSGH:</label>
            <div class="col-md-9">
                <p class="form-control-static">{{asistencia.psgh}}</p>
            </div>
        </div>
    </form>
</div>