<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Horas Normales</th>
                <th>Horas Extras</th>
                <th>PSGH</th>
            </tr>
        </thead>
        <tbody>
            {% for asistenciaProyecto in asistenciasProyecto %}
                <tr>
                    <td>{{ asistenciaProyecto.proyectoEmpleado.proyecto.nombre}}</td>
                    <td>{{ asistenciaProyecto.horasNormales}}</td>
                    <td>{{ asistenciaProyecto.horasExtras}}</td>
                    
            {%endfor%}
                    <td>{{asistencia.psgh}}</td>
                </tr>
        </tbody>    
    </table>
</div>